<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="line">
            <div>
                <ion-icon id="toggle-options-icon" class="icon small" name="chevron-forward" alt="Toggle Options"></ion-icon>
            </div>
            <select name="department">
                <option value="All">Partout</option>
                <option value="75">75 - Paris</option>
                <option value="01">01 - Ain</option>
                <option value="02">02 - Aisne</option>
            </select>
            <select name="category">
                <option value="all">Toute catégorie</option>
                <option value="car">Voiture</option>
                <option value="house">Immobilier</option>
            </select>
            <div>
                <ion-icon id="toggle-theme" class="icon small" name="moon" alt="Toggle Theme"></ion-icon>
            </div>
        </div>
        <div id="toggle-options" class="options hide">
            <div class="line">
                <input type="search" id="search" name="search" placeholder="Recherche par mot clé (nom, téléphone..)">
            </div>
            <div class="line">
                <select>
                    <option value="New">Plus récent</option>
                    <option value="Price">Prix croissant</option>
                </select>
            </div>
            <div class="line">
                <div class="settings-container">
                    <input type="checkbox" id="online" name="online" value="checkboxValue">
                    <label for="online">En ligne</label>
                </div>
                <div class="settings-container">
                    <input type="checkbox" id="asComments" name="asComments" value="checkboxValue">
                    <label for="asComments">Avec commentaires</label>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <footer>
        <div class="line">
            <a class="column" href="">
                <ion-icon class="icon blue" name="home" alt="Home"></ion-icon>
                <div class="selector bg-blue"></div>
            </a>
            <a class="column" href="">
                <ion-icon class="icon red" name="heart-outline" alt="Favorites"></ion-icon>
                <div class="selector"></div>
            </a>
            <a class="column" href="">
                <ion-icon class="icon green" name="add-circle-outline" alt="Add"></ion-icon>
                <div class="selector"></div>
            </a>
            <a class="column" href="">
                <ion-icon class="icon violet" name="mail-outline" alt="Messages"></ion-icon>
                <div class="selector"></div>
            </a>
            <a class="column" href="">
                <ion-icon class="icon yellow" name="notifications-outline" alt="Notifications"></ion-icon>
                <div class="selector"></div>
            </a>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
